*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}

body {
    background-color: #15141a;
    background-image:
            radial-gradient(at top left, #15141a, transparent),
            radial-gradient(at top right, #3b2a38, transparent),
            radial-gradient(at bottom left, #474335, transparent);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#app > #loader {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app > #loader > .bar {
    font-size: 2rem;
    color: #eeebe7;
    padding: 2rem;
    animation: alternate animate-text 1s infinite ease-in-out;
}

@keyframes animate-text {
    from {
        color: rgba(238, 235, 231, 1);
    }
    to {
        color: rgba(238, 235, 231, .3);
    }
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
